@use "../index.scss";

.income-displayer {
    $positive-colour: #4dff4d;
    $negative-colour: #ff4d4d;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    section {
        display: flex;
        place-content: center stretch;
        place-items: center stretch;
        gap: 1rem;

        &.shown .profit-displayer {
            transform: scaleX(1);
        }

        .profit-displayer {
            $padding: 0.5rem;
            $icon-size: 2rem;

            font-weight: bold;

            position: relative;
            transform: scaleX(0);
            transform-origin: 0% 50%;

            padding: $padding;
            padding-left: calc($icon-size + $padding * 2);

            color: index.$half-transparent;

            border-radius: 1rem;

            transition: transform 500ms;

            &::before {
                content: "";

                position: absolute;
                top: 50%;
                left: $padding;
                transform: translateY(-50%);

                width: $icon-size;
                aspect-ratio: 1;

                background-image: url("../Icons/arrow_thin.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;

                opacity: 0.6;
                filter: invert(1);
            }

            &.positive {
                background-color: $positive-colour;

                &::before {
                    transform: translateY(-50%) rotate(-135deg);
                }
            }

            &.negative {
                background-color: $negative-colour;

                &::before {
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }
}