@use "../index.scss";
@use "../Page/Page.scss";

$header-padding: 2rem;
$nav-padding: 2rem;

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    place-items: center;
    gap: $header-padding;

    padding: $header-padding;

    z-index: 2;

    nav {

        #nav-toggling-button {
            border: none;
            width: $nav-padding;
            aspect-ratio: 1;

            display: none;
        }

        .navbar-button {
            border: none;

            transition: background-color 500ms;

            &:is(:hover, :focus) {
                background-color: index.$background-colour;
            }

            figure {
                display: none;
            }
        }
    }

    aside {
        place-self: center end;
    }

    #jump-to-top-button {
        position: fixed;
        bottom: 2rem;
        right: 2rem;

        button {
            transform: rotate(180deg);

            width: 4rem;
            aspect-ratio: 1;

            padding: 2rem;

            background-color: index.$background-darker-colour;

            background-image: url("../Icons/arrow_thick.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;

            border-radius: 100%;

            &:is(:hover, :focus-within) {
                background-color: index.$background-colour;
            }
        }
    }
}

@media (max-width: Page.$first-screen-width) or (orientation: portrait) {
    $padding-left: $nav-padding * 3;

    body {
        padding-left: $padding-left;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;

        max-width: calc(100vw - $nav-padding * 2);
        height: 100vh;

        display: flex;
        flex-direction: column;
        place-content: stretch;
        place-items: stretch;
        gap: 1rem;

        padding: $nav-padding;
        padding-top: 8rem;

        background-color: index.$background-colour;

        transition: max-width 1500ms;

        z-index: 3;

        overflow: hidden;

        #nav-toggling-button {
            display: block !important;

            position: absolute;
            inset: $nav-padding $nav-padding auto auto;
            transform: rotate(-180deg);

            background-image: url("../Icons/delete.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            transition: transform 500ms;
        }

        .navbar-button {
            --icon-url: url("");

            display: grid;
            grid-template-columns: auto 1fr;
            place-content: center;
            place-items: center;
            gap: 1rem;

            padding: 1rem;
            padding-right: 14rem;

            transition: background-color 500ms, gap 500ms;

            &:is(:hover, :focus) {
                background-color: index.$background-darker-colour;
            }

            figure {
                display: block;

                width: 3rem;
                aspect-ratio: 1;

                background-image: var(--icon-url);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;

                border-radius: 100%;
            }

            a {
                max-width: 100%;
                margin-left: 4rem;

                opacity: 1;

                transition: opacity 500ms 500ms, max-width 500ms 500ms;
            }

            &#statistic-section-button {
                --icon-url: url("../Icons/statistics.svg");
            }

            &#product-section-button {
                --icon-url: url("../Icons/product-2.svg");
            }

            &#support-section-button {
                --icon-url: url("../Icons/support.svg");
            }

            &#adaptiveness-section-button {
                --icon-url: url("../Icons/smart_phone.svg");
            }


            &#resource-section-button {
                --icon-url: url("../Icons/link.svg");
            }
        }
    }

    header.navbar-closed nav {
        max-width: $nav-padding;

        transition: max-width 500ms;

        #nav-toggling-button {
            transform: rotate(-90deg);

            background-image: url("../Icons/arrow_thick.svg");
        }

        .navbar-button {
            min-width: 0;

            gap: 0;

            &:is(:hover, :focus) {
                background-color: inherit;
            }

            a {
                max-width: 0;

                opacity: 0;
                overflow: hidden;

                transition: opacity 500ms, max-width 500ms;
            }
        }
    }
}

@media (max-width: Page.$second-screen-width) {

    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;

        .logo {
            place-self: center start;
        }

        nav {
            width: 100%;

            transition: max-width 500ms;
        }
    }
}