@use "../index.scss";
@use "../Page/Page.scss";

$header-padding: 2rem;
$nav-padding: 2rem;

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    place-items: center;
    gap: $header-padding;

    padding: $header-padding;

    z-index: 2;

    #logo {
        pointer-events: none;

        &::first-letter {
            padding: 0.5rem 1rem;
            margin-right: 0.25ch;

            background-color: index.$main-colour;

            border-radius: 100%;
        }
    }

    nav {

        #nav-toggling-button {
            border: none;
            width: $nav-padding;
            aspect-ratio: 1;

            display: none;
        }

        .navbar-button {
            border: none;

            transition: background-color 500ms;

            &:is(:hover, :focus) {
                background-color: index.$background-colour;
            }

            figure {
                display: none;
            }
        }
    }

    aside {
        place-self: center end;
    }
}

@media (width <=Page.$first-screen-width) or (orientation: portrait) {
    $padding-left: $nav-padding * 3;

    body {
        padding-left: $padding-left;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;

        max-width: calc(100vw - $nav-padding * 2);
        height: 100vh;

        display: flex;
        flex-direction: column;
        place-content: stretch;
        place-items: stretch;
        gap: 1rem;

        padding: $nav-padding;
        padding-top: 8rem;

        background-color: index.$background-colour;

        transition: max-width 1500ms;

        #nav-toggling-button {
            display: block !important;

            position: absolute;
            inset: $nav-padding $nav-padding auto auto;
            transform: rotate(-180deg);

            background-image: url("../Icons/delete.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            transition: transform 500ms;
        }

        .navbar-button {
            display: grid;
            grid-template-columns: auto 1fr;
            place-content: center;
            place-items: center;
            gap: 1rem;

            transition: background-color 500ms, gap 500ms;

            &:is(:hover, :focus) {
                background-color: index.$background-darker-colour;
            }

            figure {
                display: block;

                width: 3rem;
                aspect-ratio: 1;
                background-color: index.$fore-colour;

                border-radius: 100%;
            }

            a {
                max-width: 100%;

                opacity: 1;

                transition: opacity 500ms 500ms, max-width 500ms 500ms;
            }
        }
    }

    header.nav-closed nav {
        max-width: $nav-padding;

        transition: max-width 500ms;

        #nav-toggling-button {
            transform: rotate(-90deg);

            background-image: url("../Icons/arrow_thick.svg");
        }

        .navbar-button {
            gap: 0;

            &:is(:hover, :focus) {
                background-color: inherit;
            }

            a {
                max-width: 0;

                opacity: 0;
                overflow: hidden;

                transition: opacity 500ms, max-width 500ms;
            }
        }
    }
}

@media (width <=Page.$second-screen-width) {

    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;

        #logo {
            place-self: center start;
        }

        nav {
            width: 100%;

            transition: max-width 500ms;
        }
    }
}