@use "../index.scss";
@use "../Page/Page.scss";
@use "../Mixins/Mixins.scss";

#statistic-section {
    @include Mixins.main-section();

    #welcome-section {
        @include Mixins.big-section();

        overflow: hidden;

        opacity: 0;

        transition: opacity 2000ms;

        &.shown {
            opacity: 1;

            #news-displayer {
                transform: translateX(0%);
            }
        }

        #news-displayer {
            $padding: 1rem;

            @include Mixins.floating-header($padding);

            position: relative;
            transform: translateX(-150%);

            padding-left: calc(4ch + $padding * 2 + 1rem);

            overflow: hidden;

            transition: transform 500ms;

            &::before {
                content: "News";

                text-transform: uppercase;

                position: absolute;
                inset: 0 auto 0 0;

                display: flex;
                place-items: center;

                padding: $padding;

                background-color: index.$main-colour;

                border-radius: inherit;
            }
        }

        h1 {
            @include Mixins.beneath-floating-header();
        }

        p {
            color: index.$fore-darker-colour;
        }

        .arrowed-button {
            padding-left: 13rem;
        }

        footer {
            width: 100%;

            display: flex;
            flex-direction: row;
            place-content: space-between;
            place-items: space-between;

            &.shown {
                .visualizer {
                    transform: scale(1);
                }
            }

            .visualizer {
                transform: scale(0);

                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                transition: transform 500ms;

                h2::after {
                    content: "+";

                    color: index.$main-colour;
                }
            }
        }
    }

    #statistic-displayer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .card {
            display: flex;
            flex-direction: column;
            place-content: space-between;
            gap: 2rem;

            padding: 2rem;

            color: index.$background-colour;
            background-color: index.$fore-colour;

            border-radius: 1rem;

            opacity: 0;

            transition: opacity 1000ms;

            &.shown {
                opacity: 1;
            }

            h4 {
                display: flex;
                flex-direction: row;
                place-content: center;
                place-items: center;
                place-self: start;
                gap: 1rem;

                button {
                    all: unset;

                    position: relative;

                    display: flex;
                    place-content: center;
                    place-items: center;

                    width: 1rem;
                    aspect-ratio: 1;

                    padding: 0.5ch;

                    color: index.$fore-darker-colour;

                    border: 0.3rem solid index.$fore-darker-colour;
                    border-radius: 100rem;

                    cursor: pointer;

                    transition: color 500ms, background-color 500ms;

                    &:is(:hover, :focus-within) {
                        color: index.$fore-colour;
                        background-color: index.$fore-darker-colour;
                    }
                }
            }

            main {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }
        }
    }
}

:where(.bottom-chart-card) {
    align-self: center;
    justify-self: flex-end;

    width: 100%;
    max-width: 50vmin;
    aspect-ratio: 1;
}

@media (min-width: Page.$first-screen-width) or (orientaion: landscape) {

    #statistic-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        padding: 2vw;
        padding-bottom: 0;

        #welcome-section {
            gap: 4vw;

            h1 {
                font-size: 4rem;

                margin-top: -2vw;
            }
        }

        #statistic-displayer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            gap: 1rem;

            .card:first-of-type {
                grid-column: 1 / -1;
            }
        }
    }
}

@media (max-width: Page.$second-screen-width) {
    #statistic-section {
        place-items: stretch;
    }
}