@use "../index.scss";

.point-chart-card {
    $colour: #ff891b;

    position: relative;

    svg {
        fill: transparent;
        background-image: linear-gradient($colour, transparent);

        stroke: $colour;
        stroke-width: 0.15rem;

        circle,
        .fill-path {
            fill: index.$fore-colour;
        }
    }
}