@use "../index.scss";
@use "../Mixins/Mixins.scss";
@use "../Page/Page.scss";

#not-found-page {
    @include Mixins.main-section();

    min-height: calc(100vh - 4rem);

    section {
        @include Mixins.big-section();

        max-width: 80vw;

        opacity: 0;

        transition: opacity 2000ms;

        overflow: hidden;

        &.shown {
            opacity: 1;

            #not-found-label {
                transform: translateX(0%);
            }
        }

        #not-found-label {
            @include Mixins.floating-header();

            transform: translateX(-200%);

            transition: transform 500ms;
        }

        h1 {
            @include Mixins.beneath-floating-header();
        }

        p {
            color: index.$fore-darker-colour;
        }

        .arrowed-button {
            padding-right: calc(2ch + 8rem);
        }
    }
}

@media (width > Page.$first-screen-width) {

    #not-found-page {

        section {
            max-width: 50vw;
        }
    }
}