@use "../index.scss";

@mixin main-section() {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 4rem;

    padding: 2rem;
}

@mixin big-section() {
    display: flex;
    flex-direction: column;
    place-content: start center;
    place-items: start center;
    gap: 4rem;
}

@mixin floating-header($padding: 1rem) {
    background-color: index.$background-colour;

    padding: $padding;

    border-radius: 3rem;
}

@mixin beneath-floating-header() {
    font-size: xx-large;
    line-height: 5rem;

    margin-top: -1rem;
}