@use "../index.scss";

$first-screen-width: 800px;
$second-screen-width: 500px;
$footer-height: 40vh;

html {
    scroll-padding-top: 0rem;
}

body {
    background-color: index.$background-darker-colour;
}

#page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    min-height: 100vh;
}

button {
    background-color: transparent;

    border: 0.2rem solid index.$background-colour;

    transition: background-color 500ms, color 500ms;

    &.emphasized-button {
        background-color: index.$main-colour;

        border-color: index.$main-colour;

        &:is(:hover, :focus-within) {
            color: index.$main-colour;
            background-color: index.$background-darker-colour;
        }
    }

    &:not(.emphasized-button):is(:hover, :focus-within) {
        background-color: index.$background-colour;
    }
}

.arrowed-button {

    &::after {
        content: "";

        position: absolute;
        inset: 0.5rem 0.5ch 0.5rem auto;
        transform: rotate(-90deg);

        aspect-ratio: 1;

        padding: 1rem;

        background-image: url("../Icons/arrow_thin.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        transition: filter 500ms;
    }

    &:is(:hover, :focus-within)::after {
        filter: index.$main-colour-filter;
    }

    a {
        right: 3rem;
    }
}

.button-displayer {
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.logo {
    pointer-events: none;

    &::first-letter {
        padding: 0.5rem 1rem;
        margin-right: 0.25ch;

        background-color: index.$main-colour;

        border-radius: 100%;
    }
}

@media (prefers-reduced-motion) {
    .observable {
        transition: none;
    }
}